<!--TODO Adjust defer later-->
@defer (when filterEvents()) {
  @let events = filterEvents()?.events;

  @if (events) {
    <div class="customer-filter">
      <app-customer-filter-content
        [customerEvents]="events"
        [customerFilterForm]="customerFilterForm"
        (discardFilters)="discardFilters()"
        (addStep)="addStep()"
        (removeStep)="removeStep($event)"
        (copyStep)="copyStep($event)"
      />
    </div>
  } @else {
    <h1>No customer events available</h1>
  }
} @placeholder {
  Loading...
}
