<div class="filter-operator-select" appClickOutside (clickOutside)="onBlur($event)">
  <button
    type="button"
    class="operator-trigger"
    [class.has-value]="value()"
    (click)="toggleDropdown()"
  >
    {{ displayLabel() || label() }}
  </button>

  <div class="operator-dropdown" [class.show]="isOpen()">
    <div class="operator-tabs">
      <button
        type="button"
        class="operator-tab"
        [class.active]="activeTab() === 'string'"
        (click)="switchTab('string')"
      >
        <span class="tab-icon">T</span>
        <span>STRING</span>
      </button>
      <button
        type="button"
        class="operator-tab"
        [class.active]="activeTab() === 'number'"
        (click)="switchTab('number')"
      >
        <span class="tab-icon">#</span>
        <span>NUMBER</span>
      </button>
    </div>

    <div class="operator-list">
      @for (operation of operations(); track operation.value) {
        <button type="button" class="operator-option" (click)="selectOperator(operation.value)">
          {{ operation.label }}
        </button>
      }
    </div>
  </div>
</div>
