@let stepIndex = index();
@let stepIndexToDisplay = stepIndex + 1;
@let stepName = stepForm().controls.event.value || emptyStepLabel;

<div class="step-label">
  <span>{{ stepIndexToDisplay }}. {{ stepKey }}: {{ stepName }}</span>
  <div class="step-label__actions">
    @if (stepIndex) {
      <app-icon [type]="'delete'" (click)="removeStep.emit()" />
    }
  </div>
</div>
<!--TODO Definitely new component-->
<div class="step-form" [formGroup]="stepForm()">
  <app-filter-select [control]="eventControl()" (selectedValue)="eventSelectChange($event)">
    @for (event of customerEvents(); track event.type) {
      <option [value]="event.type" [selected]="eventControl().value === event.type">
        {{ event.type }}
      </option>
    }
  </app-filter-select>

  @let attributeControlValue = attributeControl().value;

  @if (selectedEvent() && attributeControlValue === null) {
    <app-button type="secondary" (click)="addEventAttribute()">{{
      addEventAttributeKey
    }}</app-button>
  } @else if (selectedEvent() && attributeControlValue !== null) {
    @let attributes = attributesList();

    @if (attributes.length) {
      <app-filter-select [control]="attributeControl()">
        @for (attribute of attributes; track attribute) {
          <option
            [value]="attribute.property"
            [selected]="attributeControlValue === attribute.property"
          >
            {{ attribute.property }}
          </option>
        }
      </app-filter-select>
    }
  }
</div>
