@let stepIndex = index();
@let stepIndexToDisplay = stepIndex + 1;
@let stepName = stepForm().controls.event.value || emptyStepLabel;

<div class="step-label">
  <span>{{ stepIndexToDisplay }}. {{ stepKey }}: {{ stepName }}</span>
  <div class="step-label__actions">
    @if (stepIndex) {
      <button (click)="removeStep.emit()">smazat</button>
    }
    <button (click)="copyStep.emit()">copy</button>
  </div>
</div>
<div [formGroup]="stepForm()">
  <input type="text" formControlName="event" />
</div>
