<div class="step-form" [formGroup]="stepForm()">
  <div class="event-column">
    <app-filter-select
      [control]="eventControl()"
      (selectedValue)="eventSelectChange($event)"
      [label]="eventLabelKey"
    >
      @for (event of customerEvents(); track event.type) {
        <option [value]="event.type" [selected]="eventControl().value === event.type">
          {{ event.type }}
        </option>
      }
    </app-filter-select>
  </div>

  <div class="attributes-column">
    @if (selectedEvent()) {
      @let attributes = attributesListOptions();
      @let attributesFormArray = attributesControl();

      @if (attributes.length) {
        @for (
          attributeGroup of attributesFormArray.controls;
          track attributeGroup;
          let i = $index
        ) {
          <div class="attribute-wrapper" [formGroup]="attributeGroup">
            <app-filter-select
              [control]="attributeGroup.controls.property"
              [label]="eventAttributeKey"
            >
              @for (attribute of attributes; track attribute.property) {
                <option
                  [value]="attribute.property"
                  [selected]="attributeGroup.controls.property.value === attribute.property"
                >
                  {{ attribute.property }}
                </option>
              }
            </app-filter-select>

            @if (attributeGroup.controls.property.value) {
              <app-filter-operator-select
                [control]="attributeGroup.controls.operator"
                [propertyType]="getAttributeType(attributeGroup.controls.property.value)"
                [label]="'Select operator'"
              />
            }

            <app-icon [type]="'remove'" (click)="removeAttribute(i)" class="delete-icon" />
          </div>
        }
      }

      <app-button type="secondary" (click)="addEventAttribute()">{{
        addAttributeKey()
      }}</app-button>
    }
  </div>
</div>
