@let selectedEvent = selectedCustomerEventValue$ | async;

<div class="step-form" [formGroup]="stepForm()">
  <div class="step-form__event-column">
    <app-select formControlName="event" [label]="eventLabelKey">
      @for (event of customerEvents(); track event.type) {
        <option [value]="event.type">
          {{ event.type }}
        </option>
      }
    </app-select>
  </div>

  <div class="step-form__attributes-column">
    @let attributesOptions = attributeListOptions$ | async;
    @let addAttributeKey = addAttributeKey$ | async;

    @if (selectedEvent) {
      @if (attributesOptions && attributesOptions.length) {
        <div formArrayName="attributes">
          @for (
            attributeGroup of attributesFormArray.controls;
            track attributeGroup;
            let i = $index
          ) {
            <app-customer-filter-attribute-form
              [attributeForm]="attributeGroup"
              [attributeListOptions]="attributesOptions"
              (removeAttribute)="removeAttribute(i)"
            />
          }
        </div>
      }
      <app-button type="secondary" [withoutSidePadding]="true" (click)="addEventAttribute()">{{
        addAttributeKey
      }}</app-button>
    }
  </div>
</div>
