@let selectedEvent = selectedCustomerEventValue$ | async;

<div class="step-form" [formGroup]="stepForm()">
  <div class="event-column">
    <app-filter-select [formControl]="eventControl()" [label]="eventLabelKey">
      @for (event of customerEvents(); track event.type) {
        <option [value]="event.type">
          {{ event.type }}
        </option>
      }
    </app-filter-select>
  </div>

  <div class="attributes-column">
    @let attributes = attributeListOptions$ | async;
    @let addAttributeKey = addAttributeKey$ | async;

    @if (selectedEvent) {
      @let attributesFormArray = attributesControl();

      @if (attributes && attributes.length) {
        @for (
          attributeGroup of attributesFormArray.controls;
          track attributeGroup;
          let i = $index
        ) {
          <div class="attribute-wrapper" [formGroup]="attributeGroup">
            <app-filter-select
              [formControl]="attributeGroup.controls.property"
              [label]="eventAttributeKey"
            >
              @for (attribute of attributes; track attribute.property) {
                <option [value]="attribute.property">
                  {{ attribute.property }}
                </option>
              }
            </app-filter-select>

            <!--            TODO other sub I guess -->
            @if (attributeGroup.controls.property.value) {
              <app-filter-operator-select
                [control]="attributeGroup.controls.operator"
                [propertyType]="'string'"
                [label]="'Select operator'"
              />
            }
            <app-icon [type]="'remove'" (click)="removeAttribute(i)" class="delete-icon" />
          </div>
        }
      }

      <app-button type="secondary" [withoutSidePadding]="true" (click)="addEventAttribute()">{{
        addAttributeKey
      }}</app-button>
    }
  </div>
</div>
