<div class="steps-header">
  <span>{{ heading | uppercase }}</span>
  <app-button type="danger" [withoutSidePadding]="true" (click)="discardFilters()"
    >Discard filters</app-button
  >
</div>
<form [formGroup]="customerFilterForm" (ngSubmit)="onApplyFilters()">
  <div class="steps" formArrayName="steps">
    @for (step of steps.controls; track step; let i = $index) {
      <app-customer-filter-step
        [stepForm]="step"
        [index]="i"
        [customerEvents]="customerEvents()"
        (removeStep)="removeStep(i)"
        (copyStep)="copyStep(i)"
      />
      <app-separator />
    }
    <div class="steps__actions">
      <app-button [type]="'secondary'" (click)="addStep()">{{
        addFunnelStepKey | uppercase
      }}</app-button>
    </div>
  </div>
  <app-button [type]="'primary'" nativeType="submit">{{ applyFilterKey }}</app-button>
</form>
