.step-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.event-column {
  display: flex;
  align-items: flex-start;
}

.attributes-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.attribute-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;

  app-filter-select,
  app-filter-operator-select {
    flex: 1;
    min-width: 150px;
  }

  &:hover {
    .delete-icon {
      opacity: 1;
    }
  }

  .delete-icon {
    cursor: pointer;
    opacity: 0;
    flex-shrink: 0;
  }
}
