<div class="step-form" [formGroup]="stepForm()">
  <div class="event-column">
    <app-filter-select
      [control]="eventControl()"
      (selectedValue)="eventSelectChange($event)"
      [label]="eventLabelKey"
    >
      @for (event of customerEvents(); track event.type) {
        <option [value]="event.type" [selected]="eventControl().value === event.type">
          {{ event.type }}
        </option>
      }
    </app-filter-select>
  </div>

  <div class="attributes-column">
    @if (selectedEvent()) {
      @let attributes = attributesListOptions();
      @let attributesFormArray = attributesControl();

      @if (attributes.length) {
        @for (control of attributesFormArray.controls; track i; let i = $index) {
          <div class="attribute-wrapper">
            <app-filter-select [control]="control" [label]="eventAttributeKey">
              @for (attribute of attributes; track attribute.property) {
                <option
                  [value]="attribute.property"
                  [selected]="control.value === attribute.property"
                >
                  {{ attribute.property }}
                </option>
              }
            </app-filter-select>
            <app-icon [type]="'remove'" (click)="removeAttribute(i)" class="delete-icon" />
          </div>
        }
      }

      <app-button type="secondary" (click)="addEventAttribute()">{{
        addAttributeKey()
      }}</app-button>
    }
  </div>
</div>
