@let attributeProperty = attributeProperty$ | async;
@let attributePropertyTypeByDefault = attributeTypeByProperty$ | async;
@let selectedOperator = attributeSelectedOperator$ | async;
@let attributePropertyTypeBySelectedOperator = attributeTypeBySelectedOperator$ | async;

<div class="attribute-wrapper" [formGroup]="attributeForm()">
  <app-filter-select formControlName="property" [label]="eventAttributeKey">
    @for (attribute of attributeListOptions(); track attribute.property) {
      <option [value]="attribute.property">
        {{ attribute.property }}
      </option>
    }
  </app-filter-select>

  @if (attributeProperty) {
    <app-filter-operator-select
      formControlName="operator"
      [defaultPropertyType]="attributePropertyTypeByDefault ?? 'string'"
      [label]="'Select operator'"
    />

    @if (selectedOperator) {
      @if (attributePropertyTypeBySelectedOperator === 'string') {
        <input />
      } @else if (attributePropertyTypeBySelectedOperator === 'number') {
        <input type="number" />
      }
    }
  }
  <app-icon [type]="'remove'" (click)="removeAttribute.emit()" class="delete-icon" />
</div>
