.attribute-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    .delete-icon {
      opacity: 1;
    }
  }

  .delete-icon {
    cursor: pointer;
    opacity: 0;
    flex-shrink: 0;
  }
}

.in-between-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.75rem;
}
